# Requirements without Version Specifiers
pandas
gunicorn
gevent
s3fs
glob3
numpy
faiss-cpu
tqdm
dgl
dglke
pandarallel
gunicorn
fastHan
marisa_trie


# Requirements with Version Specifiers
Flask==1.1.1
boto3==1.16.57
